<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mad_Messenger</title>
    <link href="../../static/chat/css/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <button>Личный кабинет</button>
        <button>Регистрация</button>
        <button>Логин</button>
        <button>Выйти</button>
    </header>
	<section id="start-page">
		<h1>Mad_Messenger</h1>
        <p>Привет, юзер</p>
		<h2><input id="chat-name-input" placeholder="Как назовем твой чат?"></h2>
		<button class="start-button">Start</button>
    </section>
    <p class="chat-list-title">Наши комнаты и их жители:</p>
    <div class="rooms-block">
    <section class="chat-list">
            <p class="chat-list-roomname">Че тут:</p>
            <ul class="chat-list-users">
                <li class="user-name">ляляля</li>
                <li class="user-name">ляляляфывфывфыв</li>
                <li class="user-name">лялялыфвыфвыфвфыя</li>
            </ul>
    </section>
     <section class="chat-list">
            <p class="chat-list-roomname">Че тут:</p>
            <ul class="chat-list-users">
                <li class="user-name">ляляля</li>
                <li class="user-name">ляляляфывфывфыв</li>
                <li class="user-name">лялялыфвыфвыфвфыя</li>
            </ul>
    </section>
     <section class="chat-list">
            <p class="chat-list-roomname">Че тут:</p>
            <ul class="chat-list-users">
                <li class="user-name">ляляля</li>
                <li class="user-name">ляляляфывфывфыв</li>
                <li class="user-name">лялялыфвыфвыфвфыя</li>
            </ul>
    </section>
     <section class="chat-list">
            <p class="chat-list-roomname">Че тут:</p>
            <ul class="chat-list-users">
                <li class="user-name">ляляля</li>
                <li class="user-name">ляляляфывфывфыв</li>
                <li class="user-name">лялялыфвыфвыфвфыя</li>
            </ul>
    </section>
     <section class="chat-list">
            <p class="chat-list-roomname">Че тут:</p>
            <ul class="chat-list-users">
                <li class="user-name">ляляля</li>
                <li class="user-name">ляляляфывфывфыв</li>
                <li class="user-name">лялялыфвыфвыфвфыя</li>
            </ul>
    </section>
     <section class="chat-list">
            <p class="chat-list-roomname">Че тут:</p>
            <ul class="chat-list-users">
                <li class="user-name">ляляля</li>
                <li class="user-name">ляляляфывфывфыв</li>
                <li class="user-name">лялялыфвыфвыфвфыя</li>
            </ul>
    </section>
    </div>
<script src="../../static/chat/js/index.js"></script>
</body>
</html>