<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <link href="../../../static/chat/css/user_profile.css" rel="stylesheet">
</head>
<body>
<h1 class="title-messenger">Mad_Messenger</h1>
<div class="container">
  <div class="header">
      <p class="back">&#8592</p>
  </div>
  <div class="middle">
    <img src="../../../static/chat/images/admin-avatar.png" alt="Картинка профиля" class="user-pic" />
    <h4 class="name">Имя пользователя</h4>
    <h4 class="rooms">Его комнаты</h4>
    <button class="btn-send">Отправить личное сообщение</button><br/>
  </div>
</div>
</body>
</html>